{sub_dirs, [
           "apps/main_app",
           "apps/app2",
           "rel"
]}.
{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, { main_app, "0.1.0" },
         [main_app,
          sasl]},

        {sys_config, "./rel/sys.config"},
        {vm_args, "./rel/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        % {dev_mode, false},
        % {include_src, false},
        % {include_erts, true},

        {extended_start_script, true},
        {overlay, [
            {mkdir, "logs"},
            {mkdir, "mnesia"}
        ]}
    ]
}.

{profiles,
    [{prod, [{relx, [{dev_mode, false},{include_erts, true}]}]}]
}.

{cover_enabled, true}.
