{release, {main_app_release, "1"}, [main_app, sasl, runtime_tools]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.
% {dev_mode, true}.
% {include_erts, false}.

{dev_mode, false}.
{include_src, false}.
{include_erts, true}.

{overlay, [
    {mkdir, "logs"},
    {mkdir, "mnesia"}
]}.
